yuumi chatbot.json
{
  "name": "yuumi chatbot",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS clientes_chatbot (id SERIAL PRIMARY KEY, phone_number VARCHAR(50) UNIQUE NOT NULL, name VARCHAR(255), created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP DEFAULT NOW())",
        "options": {}
      },
      "id": "ca78582a-f7ee-488a-b52e-19f62e0e5a39",
      "name": "Create Table clientes_chatbot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        464
      ],
      "id": "f2fb7f2d-134f-4739-a6db-7c63358a4877",
      "name": "deletar memoria do chat",
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "phoneNumber",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "userName",
              "value": "={{ $json.contacts[0].profile?.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "messageText",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5984f72e-8f67-45b4-98ac-0bf8460baf8b",
      "name": "Workflow Configuration1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes_chatbot (phone_number, name, \"restaurantId\", created_at) VALUES ($1, $2, $3, NOW()) ON CONFLICT (phone_number) DO UPDATE SET \"restaurantId\" = EXCLUDED.\"restaurantId\" RETURNING *",
        "options": {
          "queryReplacement": "={{ [$('Extract Restaurant ID').item.json.phoneNumber, $('Extract Restaurant ID').item.json.userName, $('Extract Restaurant ID').item.json.restaurantId] }}"
        }
      },
      "id": "63533fd2-43c9-45c0-b108-bd154728b7ed",
      "name": "Check and Save User1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        -416
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.6
        }
      },
      "id": "4d8c0bc7-10a8-4a7a-9460-6b10194c053b",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        -192
      ],
      "credentials": {
        "openAiApi": {
          "id": "svKHhCQfIv3yGCjt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
        "contextWindowLength": 30
      },
      "id": "a6c44d92-510c-4757-84df-5ce69f553d5c",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        -192
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1001163339739167",
        "recipientPhoneNumber": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "2bebbe25-147d-47a4-9794-e4c15ab89ee7",
      "name": "Send WhatsApp Response1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        736,
        -416
      ],
      "webhookId": "7777ae7b-27d2-4820-b44e-c1c32fd70b85",
      "retryOnFail": true,
      "credentials": {
        "whatsAppApi": {
          "id": "wvoYuCni8NhdJa3Z",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "description": "Cria um novo pedido. OBRIGATÓRIO: total. O campo 'items' DEVE ser OBRIGATORIAMENTE uma string de um array JSON com os IDs. Exemplo estrito: [{\\\"productId\\\": 1, \\\"quantity\\\": 2, \\\"price\\\": 25.5}]",
        "workflowId": {
          "__rl": true,
          "value": "TjRavnsWhOXHfm-aCmaq-",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjRavnsWhOXHfm-aCmaq-",
          "cachedResultName": "sub-workflow-insert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total', ``, 'string') }}",
            "items": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('items', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "adress": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('adress', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "observations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observations', ``, 'string') }}",
            "customer_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', ``, 'string') }}",
            "restaurantId": "={{ $('Extract Restaurant ID').item.json.restaurantId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "items",
              "displayName": "items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "adress",
              "displayName": "adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "observations",
              "displayName": "observations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "restaurantId",
              "displayName": "restaurantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "32da1932-82d5-41b5-9edd-5faacbafa0da",
      "name": "Create Order Workflow Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        400,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, description, price, available, \"categoryId\" FROM \"Product\" WHERE available = true AND \"restaurantId\" = $1 ORDER BY name",
        "options": {
          "queryReplacement": "={{ [$('Extract Restaurant ID').item.json.restaurantId] }}"
        }
      },
      "id": "009f2d31-a2a3-436f-abc5-6f8f3a5406bd",
      "name": "Get Products List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        -416
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "f2fab4fe-2ce2-4187-85b7-9a16222a1274",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        -304
      ],
      "webhookId": "dd223e09-9439-4568-828e-539c4f19c07b",
      "retryOnFail": true,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Zt5oKx6MYHpcKdNo",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration1').item.json.messageText }}",
        "options": {
          "systemMessage": "=[ROLE]\nVocê é Yuumi, atendente virtual da Yummi Lanchonete. Tom: amigável, direto, eficiente.\n\n[CONTEXT]\nCliente: {{ $('Workflow Configuration1').item.json.userName }} ({{ $('Workflow Configuration1').item.json.phoneNumber }})\nProdutos disponíveis:\n{{ $('Aggregate').item.json.data.filter(p => p.available).map(p => `- ID ${p.id}: ${p.name} (R$ ${p.price})`).join('\\n') }}\n\n[CRITICAL_RULES]\n1. SEMPRE confirme o pedido completo antes de chamar a tool\n2. NUNCA invente produtos não listados\n3. Items DEVE ser formato: [{\"productId\": ID, \"quantity\": QTD, \"price\": PRECO}]\n4. Se cliente pedir \"2 x-tudo\", pergunte: \"X-Tudo é o ID 5, correto?\"\n\n[WORKFLOW]\n1. Saudação (apenas 1ª mensagem)\n2. Coletar itens → validar IDs existentes\n3. Calcular total (use calculator tool se necessário)\n4. Coletar endereço + pagamento\n5. CONFIRMAÇÃO EXPLÍCITA: \"Posso confirmar seu pedido de R$XX?\"\n6. APÓS confirmação, chamar Create Order Workflow Tool1\n\n[EXEMPLO DE CONFIRMAÇÃO BEM SUCEDIDA]\nUsuário: \"Quero 2 burgers e 1 refrigerante\"\nYuumi: \"Encontrei: Burger Clássico (ID:1) R$25 e Refrigerante Cola (ID:5) R$8. Total R$58. Confirma?\"\nUsuário: \"Sim\"\nYuumi: [CHAMA_TOOL com items: [{\"productId\":1,\"quantity\":2,\"price\":25}, {\"productId\":5,\"quantity\":1,\"price\":8}]]"
        }
      },
      "id": "0c8dd4b1-914a-4073-919a-e28aff7edd0a",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        -416
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -80,
        -416
      ],
      "id": "8f17091a-2eeb-4cf0-ba4c-9263c32948d4",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        528,
        -192
      ],
      "id": "91e5bc6d-df28-4e2c-a2be-c37a8d568bcd",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, phone_id, token_meta, status_stripe FROM \"Restaurant\" WHERE phone_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
        }
      },
      "id": "3ab62a0f-4174-441c-a330-01e0110330c8",
      "name": "Lookup Restaurant by Phone ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        -320
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9db0678e-d434-4f79-820a-e6ab1c89a052",
      "name": "Restaurant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        -320
      ]
    },
    {
      "parameters": {
        "errorMessage": "Restaurant not found for this WhatsApp phone_id. Please configure the Restaurant in the database first."
      },
      "id": "2fea0155-093b-4984-9b05-6054ace8cb8b",
      "name": "Stop - Restaurant Not Found",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -752,
        -224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "restaurantId",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "phoneNumber",
              "value": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userName",
              "value": "={{ $('Workflow Configuration1').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "messageText",
              "value": "={{ $('Workflow Configuration1').item.json.messageText }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $('Workflow Configuration1').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b6095372-ead2-4199-a6ff-3cf34a57909f",
      "name": "Extract Restaurant ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        -416
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94f66438-f1e8-4311-8f46-41f64ee16837"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "826eccc6-0e2a-4e6f-837b-3acba4ab12dc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio Message"
            }
          ]
        },
        "options": {}
      },
      "id": "5096730c-40c3-43fb-bd60-b8e11ccab281",
      "name": "Route by Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2304,
        -304
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "id": "9ae60ad9-2663-4a13-a507-8f25dd17eb68",
      "name": "Transcribe Audio to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1648,
        -176
      ],
      "credentials": {
        "openAiApi": {
          "id": "svKHhCQfIv3yGCjt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "messageText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "phoneNumber",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userName",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile?.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fad36710-a022-4674-8f91-ac78ae8bedad",
      "name": "Prepare Transcribed Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        -176
      ]
    },
    {
      "parameters": {
        "url": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "82a2d5d6-9f4a-4fed-ab1f-a4ccca8d6b9b",
      "name": "Download WhatsApp Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2080,
        -176
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "wvoYuCni8NhdJa3Z",
          "name": "WhatsApp account"
        },
        "httpBearerAuth": {
          "id": "7yZPzPW7ruCkPGrD",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5521991843847",
            "phone_number_id": "1001163339739167"
          },
          "contacts": [
            {
              "profile": {
                "name": "Patrick"
              },
              "wa_id": "5521984870401"
            }
          ],
          "messages": [
            {
              "from": "5521984870401",
              "id": "wamid.HBgNNTUyMTk4NDg3MDQwMRUCABIYIEFDOUVGM0NCMTcwQ0ZFNkJGQjkzMkIzQjkyQjAwNTA4AA==",
              "timestamp": "1771739797",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "lHebNez3rRnOYY4LoO4WKusHgLkaXJGUG3+U4DtsOL0=",
                "id": "926176830264294",
                "url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=926176830264294&source=webhook&ext=1771740098&hash=ARl7fTevmcgBgi0NS2I4XKWE-BiF5HAQgk996H7x0rrPQQ",
                "voice": false
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Workflow Configuration1": {
      "main": [
        [
          {
            "node": "Route by Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Save User1": {
      "main": [
        [
          {
            "node": "Get Products List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Order Workflow Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Products List": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Restaurant by Phone ID": {
      "main": [
        [
          {
            "node": "Restaurant Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant Found?": {
      "main": [
        [
          {
            "node": "Extract Restaurant ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Restaurant Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Restaurant ID": {
      "main": [
        [
          {
            "node": "Check and Save User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Message Type": {
      "main": [
        [
          {
            "node": "Lookup Restaurant by Phone ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download WhatsApp Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio to Text": {
      "main": [
        [
          {
            "node": "Prepare Transcribed Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transcribed Text": {
      "main": [
        [
          {
            "node": "Lookup Restaurant by Phone ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download WhatsApp Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58818778-74b8-46d3-8d77-50e3cbaae3be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2044af69e344f81c84b76e58ece76b8096dfa52fd7c7b82b6c6f31bcf7767523"
  },
  "id": "AqOJLISR9YPOaEMkGGzLw",
  "tags": []
}