yuumi chatbot.json
{
  "name": "yuumi chatbot",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS clientes_chatbot (id SERIAL PRIMARY KEY, phone_number VARCHAR(50) UNIQUE NOT NULL, name VARCHAR(255), created_at TIMESTAMP DEFAULT NOW(), updated_at TIMESTAMP DEFAULT NOW())",
        "options": {}
      },
      "id": "ca78582a-f7ee-488a-b52e-19f62e0e5a39",
      "name": "Create Table clientes_chatbot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        464
      ],
      "id": "f2fb7f2d-134f-4739-a6db-7c63358a4877",
      "name": "deletar memoria do chat",
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "phoneNumber",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "userName",
              "value": "={{ $json.contacts[0].profile?.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "messageText",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "timestamp",
              "value": "={{ $json.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c764e9b3-7a73-45cf-a66b-6d3fd9c1ed4d",
      "name": "Workflow Configuration1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes_chatbot (phone_number, name, \"restaurantId\", created_at) VALUES ($1, $2, $3, NOW()) ON CONFLICT (phone_number) DO UPDATE SET \"restaurantId\" = EXCLUDED.\"restaurantId\" RETURNING *",
        "options": {
          "queryReplacement": "={{ [$('Extract Restaurant ID').item.json.phoneNumber, $('Extract Restaurant ID').item.json.userName, $('Extract Restaurant ID').item.json.restaurantId] }}"
        }
      },
      "id": "ddcc4e08-35b4-453e-a004-797d901b836d",
      "name": "Check and Save User1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -240
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.6
        }
      },
      "id": "e1bdab9e-648e-4f59-be01-d8ea358c7644",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        32
      ],
      "credentials": {
        "openAiApi": {
          "id": "svKHhCQfIv3yGCjt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
        "contextWindowLength": 30
      },
      "id": "48d580c6-e14d-47ee-abc1-398b805f2b14",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        160,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1001163339739167",
        "recipientPhoneNumber": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "ab03a930-0920-493e-bc64-8a49e7960041",
      "name": "Send WhatsApp Response1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        784,
        -240
      ],
      "webhookId": "7777ae7b-27d2-4820-b44e-c1c32fd70b85",
      "retryOnFail": true,
      "credentials": {
        "whatsAppApi": {
          "id": "wvoYuCni8NhdJa3Z",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "description": "Cria um novo pedido. OBRIGATÓRIO: total. O campo 'items' DEVE ser OBRIGATORIAMENTE uma string de um array JSON com os IDs. Exemplo estrito: [{\\\"productId\\\": 1, \\\"quantity\\\": 2, \\\"price\\\": 25.5}]",
        "workflowId": {
          "__rl": true,
          "value": "TjRavnsWhOXHfm-aCmaq-",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjRavnsWhOXHfm-aCmaq-",
          "cachedResultName": "sub-workflow-insert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('total', ``, 'string') }}",
            "items": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('items', ``, 'string') }}",
            "phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}",
            "adress": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('adress', ``, 'string') }}",
            "payment_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('payment_method', ``, 'string') }}",
            "observations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observations', ``, 'string') }}",
            "customer_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', ``, 'string') }}",
            "restaurantId": "={{ $('Extract Restaurant ID').item.json.restaurantId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "items",
              "displayName": "items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "adress",
              "displayName": "adress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "observations",
              "displayName": "observations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "restaurantId",
              "displayName": "restaurantId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "a67ddcfb-8054-4e6a-90bb-3f5f8e430e2d",
      "name": "Create Order Workflow Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        320,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, description, price, available, \"categoryId\" FROM \"Product\" WHERE available = true AND \"restaurantId\" = $1 ORDER BY name",
        "options": {
          "queryReplacement": "={{ [$('Extract Restaurant ID').item.json.restaurantId] }}"
        }
      },
      "id": "91003012-4f5a-400e-acfd-4a89fa39b0c0",
      "name": "Get Products List",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -240
      ],
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "e2a7a6dc-a4ab-4a58-b3cd-8b631e40cd5c",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -224
      ],
      "webhookId": "dd223e09-9439-4568-828e-539c4f19c07b",
      "retryOnFail": true,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Zt5oKx6MYHpcKdNo",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Workflow Configuration1').item.json.messageText }}",
        "options": {
          "systemMessage": "=[ROLE]\nVocê é Yuumi, atendente virtual da Yummi Lanchonete. Tom: amigável, direto, eficiente.\n\n[CONTEXT]\nCliente: {{userName}} ({{phoneNumber}})\nProdutos disponíveis: {{productsList}}\n\n[CRITICAL_RULES]\n1. SEMPRE confirme o pedido completo antes de chamar a tool\n2. NUNCA invente produtos não listados\n3. Items DEVE ser formato: [{\"productId\": ID, \"quantity\": QTD, \"price\": PRECO}]\n4. Se cliente pedir \"2 x-tudo\", pergunte: \"X-Tudo é o ID 5, correto?\"\n\n[WORKFLOW]\n1. Saudação (apenas 1ª mensagem)\n2. Coletar itens → validar IDs existentes\n3. Calcular total (use calculator tool se necessário)\n4. Coletar endereço + pagamento\n5. CONFIRMAÇÃO EXPLÍCITA: \"Posso confirmar seu pedido de R$XX?\"\n6. APÓS confirmação, chamar Create Order Workflow Tool1\n\n[EXEMPLO DE CONFIRMAÇÃO BEM SUCEDIDA]\nUsuário: \"Quero 2 burgers e 1 refrigerante\"\nYuumi: \"Encontrei: Burger Clássico (ID:1) R$25 e Refrigerante Cola (ID:5) R$8. Total R$58. Confirma?\"\nUsuário: \"Sim\"\nYuumi: [CHAMA_TOOL com items: [{\"productId\":1,\"quantity\":2,\"price\":25}, {\"productId\":5,\"quantity\":1,\"price\":8}]]"
        }
      },
      "id": "8f0d9477-de1f-451e-9b8d-b7bb8dfd9dcf",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        -240
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        112,
        -240
      ],
      "id": "c73ab2aa-303d-494c-b5ad-4ec1507d3e89",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        560,
        32
      ],
      "id": "050db142-60c5-4dd6-a44b-3b21673462cc",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, phone_id, token_meta, status_stripe FROM \"Restaurant\" WHERE phone_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
        }
      },
      "id": "7ff302ba-987e-47f5-b356-a307e4d6f6b9",
      "name": "Lookup Restaurant by Phone ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        -224
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "sxrobEv3HSx7awYO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "dbb979de-d6a5-4143-bba2-26c7e18bd718",
      "name": "Restaurant Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        -224
      ]
    },
    {
      "parameters": {
        "errorMessage": "Restaurant not found for this WhatsApp phone_id. Please configure the Restaurant in the database first."
      },
      "id": "09618ed5-b956-4d9a-b6d8-63e33aa731a9",
      "name": "Stop - Restaurant Not Found",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -672,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "restaurantId",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "phoneNumber",
              "value": "={{ $('Workflow Configuration1').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "userName",
              "value": "={{ $('Workflow Configuration1').item.json.userName }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "messageText",
              "value": "={{ $('Workflow Configuration1').item.json.messageText }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $('Workflow Configuration1').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ba7abc7e-761d-426a-8ad3-7138e5d44f7f",
      "name": "Extract Restaurant ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -240
      ]
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "5521991843847",
            "phone_number_id": "1001163339739167"
          },
          "contacts": [
            {
              "profile": {
                "name": "Patrick"
              },
              "wa_id": "5521984870401"
            }
          ],
          "messages": [
            {
              "from": "5521984870401",
              "id": "wamid.HBgNNTUyMTk4NDg3MDQwMRUCABIYFjNFQjAwNTc1QUQ2QTNBOThCODdGMkIA",
              "timestamp": "1771650376",
              "text": {
                "body": "o que tem no cardapio hj?"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Workflow Configuration1": {
      "main": [
        [
          {
            "node": "Lookup Restaurant by Phone ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Save User1": {
      "main": [
        [
          {
            "node": "Get Products List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create Order Workflow Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Products List": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Restaurant by Phone ID": {
      "main": [
        [
          {
            "node": "Restaurant Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant Found?": {
      "main": [
        [
          {
            "node": "Extract Restaurant ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Restaurant Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Restaurant ID": {
      "main": [
        [
          {
            "node": "Check and Save User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f8ee41d6-6eea-4e83-9cfb-28f2162b791f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2044af69e344f81c84b76e58ece76b8096dfa52fd7c7b82b6c6f31bcf7767523"
  },
  "id": "AqOJLISR9YPOaEMkGGzLw",
  "tags": []
}